{% extends 'base.html.twig' %}

{% block title %}Hello {{ app.user.name }}{% endblock %}

{% block body %}
    <div class="container vh-100 d-flex justify-content-center align-items-center">
        <div>
            {% include 'partials/_alert_messages.html.twig' %}
            <div class="black-bg p-3">
                <h1>Change password</h1>
                <form method="post">
                    <div class="mb-3">
                        <label for="pass" class="form-label">Old password</label>
                        <input type="text" name="old-password" class="form-control" id="pass"
                               placeholder="Old password">
                    </div>
                    <div class="mb-3">
                        <label for="pass1" class="form-label">New password</label>
                        <input type="text" name="new-password" class="form-control" id="pass1"
                               placeholder="New password">
                    </div>
                    <div class="mb-3">
                        <label for="pass2" class="form-label">New password again</label>
                        <input type="text" name="new-password-again" class="form-control" id="pass2"
                               placeholder="New password">
                    </div>
                    <button type="submit" class="btn btn-light mb-3">Change Password</button>
                    <a href="{{ path('profile') }}" class="btn btn-outline-light mb-3 float-end">Back to profile</a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
